<div class="panel panel-default" id="panel-1">
  <div class="panel-heading">
    <span class="title elipsis">
      <strong>Welcome to devise Authentication</strong>
      <strong></strong>
    </span>
    <div>
			<% if user_signed_in? %>
			Signed in as <%= current_user.email %>. Not you?
			<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
      <div class="col-xs-4">
        <%= image_tag current_user.avatar, :width => '50%' %>
      </div>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or
			<%= link_to "Sign in", new_user_session_path %>
			<div>
			 	<%= link_to user_omniauth_authorize_path(:facebook) do %>
			 	<%= image_tag('fb_login.png', :height => 100)%>
				<% end %>
			</div>
			<%#= link_to "sign in with facebook", useromniauth_authorize_path(:facebook) %>
			<% end %>
		</div>
  </div>
</div>
